<div class="container">

  <div class="mimenu">
    <div class="row">

        <div class="col-xs-1">
        <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
      </div>

        <div class="col-xs-7">
            <button mat-button [matMenuTriggerFor]="health">Health</button>

            <mat-menu #health="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="health">Health Summary</button>
              <button mat-menu-item [matMenuTriggerFor]="health">Allergies</button> -->
              <button mat-menu-item [matMenuTriggerFor]="health">Medications</button>
              <button mat-menu-item [matMenuTriggerFor]="health">Lab & Device Readings</button>
              <!-- <button mat-menu-item [matMenuTriggerFor]="devices">Devices</button> -->
            </mat-menu>
            
            
            
            
            <button mat-button [matMenuTriggerFor]="finmanagement">Health Finance</button>
            <mat-menu #finmanagement="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="finmanagement">Financial Summary</button>
                <button mat-menu-item [matMenuTriggerFor]="finmanagement">Financial Analytics</button>
            </mat-menu>

</div>

  <div class="cos-xs-4"> 
    
      <button mat-button [matMenuTriggerFor]="profile">Profile Information</button>

<mat-menu #profile="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="profile" routerLink="/myinfo" routerLinkActive="active">My Information Summary</button>
  <button mat-menu-item [matMenuTriggerFor]="profile">Preferences</button>
</mat-menu>
<button mat-button>Help</button>
<button mat-button routerLink="/myinfo" routerLinkActive="active">Login</button>
    <!-- <app-login> </app-login> -->

   </div>
  </div>
</div>

</div>

<!-- 
  <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/menu" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu</a> -->
  