<div *ngIf="!lmenu" class="example-container" [class.example-is-mobile]="true">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="openMi()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="56">
    <mat-sidenav #snav  [mode]="over" [fixedInViewport]="true"  [opened]="isSidenavOpened" fixedTopGap="56">
       <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list> 
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



<!-- Large screen version -->



<div *ngIf="lmenu">
<app-header></app-header>
<router-outlet></router-outlet>
</div>
