    
        @media screen and (max-width:768px) {
        .mecontainer {
                 
        background-color: aqua;
                   width:100%;
                
        .mimatcard{
           
            box-sizing: border-box;
            
           padding-right: 10px;
           background-color: rgb(255, 187, 0);
           .inpcontainer{
            height:fit-content;
            width: 100%;
          }
        }

        .mimatcard2{
       
        
                 height: 100%;
                box-sizing: border-box;
                background-color: green;
              }
         } 
            }
   


            @media screen and (min-width:1024px) {
                .mecontainer {
                 
                display: table;
                background-color: aqua;
                           width:100%;
                        
                .mimatcard{
                    display: table-cell;
                    box-sizing: border-box;
               
                   padding-right: 10px;
                   margin-right: 10px;
                   background-color: rgb(255, 187, 0);
                   .inpcontainer{
                    height:fit-content;
                    width: 100%;
                  }
                }
        
                .mimatcard2{
                    display: table-cell;
                    padding-right: 10px;
                   margin-right: 10px;
                
                         height: 100%;
                        box-sizing: border-box;
                        background-color: green;
                      }
                }  

                .mimatcard3{
                    display: table-cell;
                  
                         height: 100%;
                        box-sizing: border-box;
                        background-color: tan;
                      }
                } 
                    


                    // @media screen and (min-width:768px) {
                    //     .mecontainer {
                         
                    //     display: table;
                    //     background-color: aqua;
                    //                width:100%;
                                
                    //     .mimatcard{
                    //         display: table-cell;
                    //         box-sizing: border-box;
                    //         width: 50%;
                    //        padding-right: 10px;
                    //        background-color: rgb(255, 187, 0);
                    //        .inpcontainer{
                    //         height:fit-content;
                    //         width: 100%;
                    //       }
                    //     }
                
                    //     .mimatcard2{
                    //         display: table-cell;
                    //         width: 50%;
                    //              height: 100%;
                    //             box-sizing: border-box;
                    //             background-color: green;
                    //           }
                    //     }  
                            // }

// @media screen and (max-width:1024px){
//             .is-table-row {
//                 display: flex;
//             }
            
//             .is-table-row [class*="col-md-6"] {
//                 display: table-column;
//                 width:100%;
//                 background-color: aqua;
                           
//                     .mimatcard{
//                         box-sizing: border-box;
//                        padding-right: 10px;
//                         .inpcontainer{
//                             height:fit-content;
//                             width: 100%;
//                           }
//                     }
//                 }
               
//                     .is-table-row [class*="col-md-6"] {
//                     display: table-column;
//                     width:100%;
//                    .mimatcard2{
//                     width: 100%;
//                          height: 100%;
//                         box-sizing: border-box;
//                         background-color: green;
//                       }
//                     }
//                 }
            
        
                    // .is-table-row [class*="col-lg-4"] {
                    //     display: table-column;
                    //     width:100%;
                    //     background-color: aqua;
                                   
                    //         .mimatcard{
                    //             box-sizing: border-box;
                    //            padding-right: 10px;
                    //             .inpcontainer{
                    //                 height:fit-content;
                    //                 width: 100%;
                    //               }
                    //         }
                    //     }
                       
                    //         .is-table-row [class*="col-lg-4"] {
                    //         display: table-column;
                    //         width:100%;
                    //        .mimatcard2{
                    //         width: 100%;
                    //              height: 100%;
                    //             box-sizing: border-box;
                    //             background-color: green;
                    //           }
                    //         }      

        
    

    //           .col-xs-12  {
   
    //             height: 100%;
    
    //             .mimatcard{
    
    //                 height: 100%;
               
    //                 .inpcontainer{
    
    //                     height:fit-content;
    //                   }
    //               }
                  
    //            .mimatcard2{
                     
    //                 height: 100%;
    //                 box-sizing: border-box;
    //               }
    //       }

    //        .col-md-6 {
   
    //         height: 100%;

    //         .mimatcard{

    //             height: 100%;
           
    //             .inpcontainer{

    //                 height:fit-content;
    //               }
    //           }
              
    //        .mimatcard2{
                 
    //             height: 100%;
    //             box-sizing: border-box;
    //           }
    //   }

    




//comment






//  .col-lg-4{
   
//     height: 100%;
//   }

// .container, .row .is-table-row, .col-xs-12, .col-md-6, .col-lg-4, .mimatcard{

//   height: 100%;
 
// }

// .container, .row, .col-md-6,  .mimatcard2{
   
//   height: 100%;
//   box-sizing: border-box;
// }

// .container, .row, .col-xs-12, .mimatcard2{
   
//     height: 100%;
//     box-sizing: border-box;
//   }

//   .container, .row,  .col-lg-4, .mimatcard2{
   
//     height: 100%;
//     box-sizing: border-box;
//   }

//   .container, .row,  .mimatcard, .inpcontainer{

//     height:fit-content;
//   }

 


// .col-xs-4{
//     text-align:left;
// }
// .col-xs-6{
//     text-align:left;
// }
// .col-xs-8{
//     text-align:left;
// }


/*
.ElementOne, .Container ,.ElementTwo{
    width: 283px;
    height: 71px;
}

.ElementOne {
    position:absolute;
}

.ElementTwo{
    position:absolute;
} */


/* https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height */