<div class="container">
    <div Offset="10px">
    <h3>My Personal Information</h3>
     
    <div class="mecontainer">
          <mat-card class="mimatcard">
    <form novalidate [formGroup]="feedbackForm" *ngIf="vis" (ngSubmit)="onSubmit()">
    
            <mat-card-content> 
                <div class="row">        
                <div class="col-xs-4"> ID:
                </div>
                  <div class="col-xs-8">
        <mat-input-container class="inpcontainer" dividerColor="{{ formErrors.firstname ? 'warn' :'primary' }}">
        <input matInput formControlName="firstname" placeholder="First Name" type="text">
        <mat-hint>
          <div [hidden]="!(formErrors.firstname)">{{formErrors.idNum}}</div> ;
        </mat-hint>
        </mat-input-container>
      </div>
      </div>
        </mat-card-content>
    
          
          <mat-card-content> 
              <div class="row">    
            <div class="col-xs-4"> First Name:
            </div>
              <div class="col-xs-8">
    <mat-input-container class="half-width" dividerColor="{{ formErrors.firstname ? 'warn' :'primary' }}">
    <input matInput formControlName="firstname" placeholder="First Name" type="text">
    <mat-hint>
      <div [hidden]="!(formErrors.firstname)">{{formErrors.firstname}}</div> ;
    </mat-hint>
    </mat-input-container>
    </div>
    </div>
    </mat-card-content>
    
    <mat-card-content>
      <div class="row">
        <div class="col-xs-4"> Last Name:
          </div>
            <div class="col-xs-8">
    <mat-input-container class="half-width" dividerColor="{{ formErrors.lastname ? 'warn' :'primary' }}">
      <input matInput formControlName="lastname" placeholder="Last Name" type="text">
      <mat-hint>
        <div [hidden]="!(formErrors.lastname)">{{formErrors.lastname}}</div> ;
      </mat-hint>
    </mat-input-container>
    </div>
    </div>
    </mat-card-content>
    
    <mat-card-content>
        <div class="row">
        <div class="col-xs-4">Phone:
          </div>
            <div class="col-xs-8">
      <mat-input-container class="half-width" dividerColor="{{ formErrors.telnum ? 'warn' :'primary' }}">
        <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*"  required>
        <mat-hint>
          <div [hidden]="!(formErrors.telnum)">{{formErrors.telnum}}</div> ;
        </mat-hint>
      </mat-input-container>
    </div>
    </div>
    </mat-card-content>
    
    <mat-card-content>
        <div class="row">    
        <div class="col-xs-4">Email:
          </div>
            <div class="col-xs-8">
        <mat-input-container class="half-width" dividerColor="{{ formErrors.email ? 'warn' :'primary' }}">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
            <mat-hint>
            <div [hidden]="!(formErrors.email)">{{formErrors.email}}</div> ;
          </mat-hint>
          </mat-input-container>
        </div>
        </div>
        </mat-card-content>
    </form>
    </mat-card>




    
    <!-- <div class="col-xs-12 col-md-6 col-lg-4"> -->
       <mat-card class="mimatcard2">
          <h3>Main Home Address</h3>
        
          <mat-card-content> 
                  58 Boylston street Unit 1
           </mat-card-content>
      
           <mat-card-content> 
            Stoughton, MA 02072
            </mat-card-content>
      
            <mat-card-content> 
                  USA
              </mat-card-content>
        </mat-card>


        <mat-card class="mimatcard3">
          <h3>Emergency Contact</h3>
          <mat-card-content> 
      First Name : FNameHere
     </mat-card-content>
     <mat-card-content> 
      Last Name : LNameHere
     </mat-card-content>
     <mat-card-content> 
      Contact Phone : EmergencyPhone
     </mat-card-content>
     <mat-card-content> 
      Email : EmergencyEmail
     </mat-card-content>
     <mat-card-content> 
      Relationship : Relationship
     </mat-card-content>
     <mat-card-content> 
      <h3>Emergency Contact Address</h3>
     </mat-card-content>
     
          <mat-card-content> 
                  58 Boylston street Unit 1
           </mat-card-content>
      
           <mat-card-content> 
            Stoughton, MA 02072
            </mat-card-content>
      
            <mat-card-content> 
                  USA
              </mat-card-content>
        </mat-card>
        </div> 
     
      </div>
    </div>
